.cookieImg{
    width:35%;
    float:right;
}
.modal-content{ background: #FDFDFD; width:800px;}
.modal-dialog  .modal-content{ background: #FDFDFD !important;

}
.btn-cookie{ background-image: url(./cookies.png);
    width: 50px;
    height: 50px;
    background-size: contain;}
   
.btnReact{ background:#CDF0EA !important;    box-shadow: 0 4px 9px -4px #a1d3d2 !important;}
.btnReact:hover{ background:#334A6C !important;     box-shadow: 0 4px 9px -4px #a1d3d2 !important;}

