.container {
  margin-top: 50px;
}
.card-equipo {
  background-color: #1d3a3a !important;
  border: #1d3a3a 2px solid !important;
}

.card-equipo:hover {
  box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
  transition: all 0.7s linear;
}

.card-body-equipo {
  padding: 2rem 0 !important;
}

.card-text-equipo {
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.8);
}
