.carousel-item img {
  height: 100vh;
  width: 400px;
  object-fit: cover;
  background-position: center top;
}

#carrousel-link {
  color: whitesmoke;
  text-decoration: none !important;
  display: block;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  padding: 0 6px;
  text-transform: uppercase;
  transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1);

  font-size: 3rem;
  letter-spacing: 0.15rem;
  line-height: 1.8;
}

#carrousel-link:hover,
#carrousel-link:active,
#carrousel-link:focus,
#carrousel-link:visited {
  color: white !important;
  text-decoration: none;
}

.link4:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  content: "";
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.11, 0.7, 0, 1);
}

.link4:hover:after {
  transform: scale(1);
}

.carousel-caption a:hover {
  text-decoration: none;
  color: whitesmoke;

  color: whitesmoke;
  border-radius: 10px;
}
