.card-empresa {
  background-color: white;
  margin: 5%;
  border-radius: 8px;
  box-shadow: 2px 4px #cdf0ea;
}
#empresa {
  background-color: #f9f9f9;
  padding: 20px 20px;
}
.boton-empresa {
  background-color: #d9fcf6;
  height: 40px;
  width: 180px;
  border-radius: 3px;
  border: none;
}

.boton-empresa:hover{
  background-color: #bfe1db;
}